@page "/tabelas"
<h3>Tabelas</h3>

<div class="container">
    <div class="row">
        <div class="col">
            NOME
        </div>
        <div class="col">
            CARGO
        </div>
        <div class="col">
            ADMISSÃO
        </div>
        <div class="col">
            TEMPO DE CASA
        </div>
        <div class="col">
            NASCIMENTO
        </div>
        <div class="col">
            IDADE
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            NOME
        </div>
        <div class="col">
            CARGO
        </div>
        <div class="col">
            ADMISSÃO
        </div>
        <div class="col">
            TEMPO DE CASA
        </div>
        <div class="col">
            NASCIMENTO
        </div>
        <div class="col">
            IDADE
        </div>
    </div>
    
    
</div>

@code {

}
